---
layout: default
title: Home
meta: "Covering everything dinosaur-related: links, videos, photos, info."
showbanner: yes
bannertext: Dinosaurs Rock!
---

<h1>Dino 'R' Us</h1>
<p> hadbfiuadbf hdjbfiuabvd fic jabdfuicabdc daiujb diajc iuda vcijhadkbcno</p>

<div class="grid">

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 1" desc="Super-duper sale!" image="air-dinos/pteranodon.jpg" %}
	</div>

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 2" desc="Amazing deal!" image="land-dinos/diplodocus.jpg" %}
	</div>

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 3" desc="Fantastico!" image="air-dinos/rhamphorhynchus.jpg" %}

	</div>

</div>

<ul>
	{% for dino in site.pages %}
	<li>{{dino.url}}</li>
	{% endfor %}
</ul>